<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Chicago traffic and air pollution</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <!-- D3 JS -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>

  <!-- Plotly JS -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  
  <!-- Our CSS -->
  <!-- <link rel="stylesheet" type="text/css" href="../static/css/style.css"> -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

  <div class="content-container container-fluid">
    <div class="row">
      <div class="map col-md-7 col-xs-12">
        <div class="map-container">
          <iframe class="ifrm" title="Traffic Map" width="100%" src="traffic.html"></iframe>
        </div>
        <div class="map col-md-7 col-xs-12">

            <table>
                <tr><td>
                        <div>
         
                            <form method="POST" action="/home" role="form", name="homeform">
                                <div>
                                    <input type="submit" value="Home" class="btn btn-info">                            
                                </div>
                            
                            </form>   
                        </div>
                    </td>
                    <td>
                        <div>   
                            <form method="POST" action="/history" role="form", name="TAQform">
                             
                              <div>
                
                                  <input type="submit" value="View Historical Data" class="btn btn-info">
                            
                              </div>
                            </form>  
                        </div>
                                
                    </td>
                </tr>
        
            </table>

        </div>
      </div>

      <div class="side-panel col-md-5 col-xs-12">
        <h2>Chicago Traffic and Air Quality</h2>
        <div class="aqi">
          <p class="header"><strong>Real-time Air Quality Index</strong></p>
          <p class="aqi-location-time"></p>
          <div class="aqi-colors">
            <div class="aqi-banner">
              <p class="aqi-value"></p>
            </div>
            <div class="aqi-content">
              <p class="aqi-level"></p>
            </div>
          </div>
          <p class="header"><strong>Cautionary Statement (for PM2.5)</strong></p>
          <p class="aqi-statement"></p>
        </div>
        <div class="aqi24">
          <p class="header"><strong>Air Quality Index in the Past 24 Hours</strong></p>
          <div id="aqi-plot"></div>
        </div>
        <div class="traffic">
          <p class="header"><strong>Traffic Speed in the Past 24 Hours</strong></p>
          <!-- <div class="plotly-container">
            <iframe class="ifrm ifrm-plotly" title="Traffic Plot" width="100%" src="trafficPlotly24.html"></iframe>
          </div> -->
          <div id="plot"></div>
        </div>
      </div>

    </div>

  </div>
    
  <!-- My JS -->
  <!-- <script type="text/javascript" src="../static/js/function.js"></script>
  <script type="text/javascript" src="../static/js/index.js"></script>
  <script type="text/javascript" src="../static/js/trafficPlotly24Box.js"></script> -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/function.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/trafficPlotly24Box.js') }}"></script>
  <script src="{{ url_for('static', filename='js/aqi24.js') }}"></script>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>
